<section class="section">
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <div class="column is-half is-offset-one-quarter has-text-centered">
            <img src="assets/img/logo.png" />
            <hr />
          </div>
          <h3 class="title is-4 has-text-centered has-text-dark">Votar no restaurante do dia</h3>
          <div class="control">
            <div class="column is-half is-offset-one-quarter">
              <div class="field">
                <div class="select">
                  <select class="select">
                    <option>Selecione o restaurante</option>
                    <option>With options</option>
                  </select>
                </div>
              </div>
              <a class="button is-success is-medium">
                <span class="icon is-small">
                  <i class="fa fa-check"></i>
                </span>
                <span>Votar</span>
              </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
